#Patience .unity-progress-bar__container {
    max-height: none;
    height: 50px;
    width: 500px;
    rotate: 270deg;
}

#Health .unity-progress-bar__progress {
    background-color: rgb(225, 0, 0);
}
